---

---

<section class="w-full h-screen pb-[16px] flex items-end">
  <!-- Background Image -->
  <div
    class="cta-bg w-full h-[85.5vh] md:h-[91vh] lg:h-[86.5vh] p-[24px] md:p-[64px] rounded-[32px] overflow-clip relative flex flex-col items-end justify-between"
  >
    <div class="w-full">
      <h2
        class="txt-grad-light text-[36px] md:text-[56px] lg:text-[64px] font-cg font-extrabold tracking-[-2px] md:tracking-[-4px] leading-[98%]"
      >
        Let’s Build the Next Generation <br /> of Purpose-Driven Leaders
      </h2>
    </div>

    <div class="flex flex-col gap-[16px] w-full lg:w-[500px] 2xl:w-[535px]">
      <p
        class="font-rd text-white leading-[130%] text-[16.5px] md:text-[20px] lg:text-[18px] 2xl:text-[20px] font-bold"
      >
        Excel Ed empowers students across Africa to discover their passions,
        build skills, and create impact
      </p>
      <div
        class="w-full flex flex-col md:flex-row gap-[8px] md:gap-[16px] text-nowrap text-[16px] lg:text-[14.5px] 2xl:text-[16px]"
      >
        <a
          href="/partners"
          class="btn w-full lg:w-fit bg-primaryy text-black px-[24px] py-[12px] hover:bg-white"
          >Bring Excel Ed to your School</a
        >
        <a
          href=""
          class="btn w-full lg:w-fit bg-transparent text-white px-[24px] py-[12px] outline-[1px] outline-white hover:bg-white hover:text-black"
          >Join Our Mentorship Platform</a
        >
      </div>
    </div>
  </div>
</section>

<style>
  .cta-bg {
    background:
      linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%),
      linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, #000 100%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      url("/images/components/marquee/slider2.webp") lightgray 50% / cover
        no-repeat;

    @media (max-width: 640px) {
      background:
        linear-gradient(90deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.7) 100%),
        linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, #000 100%),
        linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
        url("/images/components/marquee/slider2.webp") lightgray 75% / cover
          no-repeat;
    }
  }
</style>
