---
import ArrowOutRight from "../assets/svgs/arrow-outline-right.svg";
---

<div class="w-full flex gap-[16px] flex-wrap">
  <!-- card-1 -->
  <div
    class="card card-1 p-[40px] md:p-[48px] w-full lg:w-[49.15%] h-[379px] flex flex-col justify-between"
  >
    <h4
      class="txt-dark font-cg text-[32px] md:text-[36px] font-extrabold leading-[110%] tracking-[-1.5px]"
    >
      Full mentorship program integration
    </h4>

    <div class="w-full md:w-fit flex flex-col md:flex-row gap-[16px]">
      <a
        href=""
        class="w-full md:w-fit btn flex items-center justify-center px-[16px] py-[12px] gap-[8px] outline-[1px] outline-white text-white hover:text-black hover:bg-white"
        >Learn More
        <div>
          <ArrowOutRight />
        </div></a
      >
      <a
        href=""
        class="w-full md:w-fit btn px-[16px] py-[12px] text-white bg-black hover:bg-white hover:text-black"
        >Get Started</a
      >
    </div>
  </div>
  <!-- card-2 -->
  <div
    class="card card-2 p-[40px] md:p-[48px] w-full lg:w-[49.15%] h-[379px] flex flex-col justify-between"
  >
    <h4
      class="txt-dark font-cg text-[32px] md:text-[36px] font-extrabold leading-[110%] tracking-[-1.5px]"
    >
      Custom workshops for specific departments or student groups
    </h4>
    <div class="w-full md:w-fit flex flex-col md:flex-row gap-[16px]">
      <a
        href=""
        class="w-full md:w-fit btn flex items-center justify-center px-[16px] py-[12px] gap-[8px] outline-[1px] outline-white text-white hover:text-black hover:bg-white"
        >Learn More
        <div>
          <ArrowOutRight />
        </div></a
      >
      <a
        href=""
        class="w-full md:w-fit btn px-[16px] py-[12px] text-white bg-black hover:bg-white hover:text-black"
        >Get Started</a
      >
    </div>
  </div>
  <!-- card-3 -->
  <div
    class="card card-3 p-[40px] md:p-[48px] w-full lg:w-[49.15%] h-[379px] flex flex-col justify-between"
  >
    <h4
      class="txt-dark font-cg text-[32px] md:text-[36px] font-extrabold leading-[110%] tracking-[-1.5px]"
    >
      Career readiness or college counseling collaborations
    </h4>
    <div class="w-full md:w-fit flex flex-col md:flex-row gap-[16px]">
      <a
        href=""
        class="w-full md:w-fit btn flex items-center justify-center px-[16px] py-[12px] gap-[8px] outline-[1px] outline-white text-white hover:text-black hover:bg-white"
        >Learn More
        <div>
          <ArrowOutRight />
        </div></a
      >
      <a
        href=""
        class="w-full md:w-fit btn px-[16px] py-[12px] text-white bg-black hover:bg-white hover:text-black"
        >Get Started</a
      >
    </div>
  </div>
  <!-- card-4 -->
  <div
    class="card card-4 p-[40px] md:p-[48px] w-full lg:w-[49.15%] h-[379px] flex flex-col justify-between"
  >
    <h4
      class="txt-dark font-cg text-[32px] md:text-[36px] font-extrabold leading-[110%] tracking-[-1.5px]"
    >
      Pilot programs for select student cohorts
    </h4>
    <div class="w-full md:w-fit flex flex-col md:flex-row gap-[16px]">
      <a
        href=""
        class="w-full md:w-fit btn flex items-center justify-center px-[16px] py-[12px] gap-[8px] outline-[1px] outline-white text-white hover:text-black hover:bg-white"
        >Learn More
        <div>
          <ArrowOutRight />
        </div></a
      >
      <a
        href=""
        class="w-full md:w-fit btn px-[16px] py-[12px] text-white bg-black hover:bg-white hover:text-black"
        >Get Started</a
      >
    </div>
  </div>
</div>

<style>
  .card {
    border-radius: 32px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow:
      -1px -1px 5px 0 rgba(0, 0, 0, 0.05),
      1px 1px 5px 0 rgba(0, 0, 0, 0.05);
  }

  .card h4.txt-dark {
    background: linear-gradient(180deg, #000 0%, #666 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .card-1 {
    background:
      url("../assets/svgs/texture.svg") repeat 0 0 / 100px 100px,
      linear-gradient(128deg, #d6dc20 3.27%, #b0b444 48.57%, #d6dc20 98.62%);
    background-blend-mode: overlay;
  }

  .card-2 {
    background:
      url("../assets/svgs/texture.svg") repeat 0 0 / 100px 100px,
      linear-gradient(235deg, #d2a898 1.94%, #c77c5f 50.61%, #d2a898 97.04%);
    background-blend-mode: overlay;
  }

  .card-3 {
    background:
      url("../assets/svgs/texture.svg") repeat 0 0 / 100px 100px,
      linear-gradient(235deg, #99e369 1.94%, #66aa3b 50.61%, #99e369 97.04%);
    background-blend-mode: overlay;
  }

  .card-4 {
    background:
      url("../assets/svgs/texture.svg") repeat 0 0 / 100px 100px,
      linear-gradient(126deg, #f6ef24 3.27%, #a5a138 48.57%, #f6ef24 98.62%);
    background-blend-mode: overlay;
  }
</style>
